{% extends "::base.html.twig" %}

{% block g_credits %}
active
{% endblock %}

{% block content %}
<h1>Liste des Crédits</h1>

<!-- Filtrage -->
<br>
<div class="filtrage">
<h3>Critères</h3>
<form>
<table>
<tr>
<td>
ID Crédit<br>
<input type="text" placeholder="Id Crédit">
</td>
<td>
Num Compte<br>
<input type="text" placeholder="N° Compte">
</td>
<td>
NCIN Titulaire<br>
<input type="text" placeholder="Ncin Titulaire">
</td>
</tr>
<tr>
<td>
Type<br>
<select>
<option>I. Acquisition de terrain</option>
<option>I. Acquisition d'un logement</option>
<option>V. Achat d'une véhicule</option>
<option>Consomation</option>
<option>Investissement</option>
</select>
</td>
<td>
Montant<br>
<input type="text" >
</td>
<td>
Date dernière échéance<br>
<input type="date" >
</td>
</tr>
<tr>
<td>
</td>
<td></td>
<td>
<input type="submit" value="Filtrer">
</td>
</tr>

</table>
</form>
</div>
<!-- Fin Filtrage -->


<div class="CSSTable">
<table>

<tr>
<td>ID Crédit</td>
<td>Num Compte</td>
<td>Type de crédit</td>
<td>Montant (Dt)</td>
<td>Dernière échéance</td>
<td width="70px">Actions</td>
</tr>
{% for credit in credits %}
<tr>
<td>{{ credit.id }}</td>
<td>{{ credit.compte.numCompte }}</td>
<td>{{ credit.types[credit.type] }}</td>
<td>{{ credit.montant|number_format(3,',',' ') }}</td>
<td>{{ credit.dateDerniereEcheance|date('d/m/Y') }}</td>
<td width="70px">
	<div onClick="getDetails('{{ path("details_credit" , {'id' : credit.id}  ) }}')" class="show_button"></div>
	<div class="edit_button"></div>
</td>
</tr>
{% endfor %}


</table>
</div>

<!-- Details Box -->
        <div class="details_box">
            <div >
                <div class="close_details_box_button clickable"></div>
                <div class="loadingZone" style="position: relative;top: 100px;left: 50%;">
                <img src="{{ asset('bundles/financebackoffice/images/loading.gif') }}" >
                </div>
                <div class="details">                  
                
                </div>
             </div>
        </div>
<!-- End Details Box -->  

{% endblock %}