{% extends "FinanceBackOfficeBundle:Credits:new.html.twig" %}

{% block titre_etape %}
Informations
{% endblock %}

{% block etape1 %}
{% endblock %}

{% block etape2 %}
etape_current
{% endblock %}


{% block contenu %}
{{ form_start(form,{ 'method' : 'post' }) }}
<tr>
<td>Type de crédit <span class="form-required">*</span></td><td width="60%">
{{ form_widget(form.type) }}
</td>
</tr>
<tr>
<td>Montant<span class="form-required">*</span></td>
<td>
{{ form_widget(form.montant) }}
</td>
</tr>
<tr>
<td>Date Première écheance<span class="form-required">*</span></td><td>
{{ form_widget(form.datePremiereEcheance , { 'attr' : { 'type' : 'date' } }) }}
</td>
</tr>
<tr>
<td>Date déniere écheance<span class="form-required">*</span></td><td>
{{ form_widget(form.dateDerniereEcheance ,  { 'attr' : { 'placeholder' : 'jj/mm/aaaa' } }) }}
</td>
</tr>
<tr><td>Tranche<span class="form-required">*</span></td><td>
{{ form_widget(form.tranche) }}
</td></tr>
<tr><td>Taux d'intêret<span class="form-required">*</span></td><td>
{{ form_widget(form.tauxInteret) }}
</td></tr>
<tr><td>Autres détails<span class="form-required">*</span></td><td>
{{ form_widget(form.autreDetails) }}
</td></tr>
<tr>
<td colspan="2"><input type="submit" style="float: right ; margin-top : 10px ;" value="Suivant"></td>
</tr>
{{ form_end(form) }}
{% endblock %}
