<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SIB{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/png" href="../bankicone.jpg" /> 
    <link rel="stylesheet" href="{{ asset('bundles/financebackoffice/css/sites.css') }}" type="text/css"/>
    <link rel='stylesheet' type='text/css'  href="{{ asset('bundles/financebackoffice/css/fancybox.css') }}"/>
    <link rel='stylesheet' type='text/css' href="{{ asset('bundles/financebackoffice/css/main_style.css') }}" title='wsite-theme-css'/>
    <link rel='stylesheet' type='text/css' href="{{ asset('bundles/financebackoffice/css/style.css') }}" title='wsite-theme-css'/>
    <link href="{{ asset('bundles/financebackoffice/css/css.css') }}" rel='stylesheet'     type='text/css'/>
    <link href="{{ asset('bundles/financebackoffice/jqueryui/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
  </head>
<body class='no-header-page wsite-theme-light wsite-page-index'>
<div id="header-wrap" style="background : none !important ; ">
    <div class="container">
        <table id="header">
            <tr>
                <td id="logo"><span class='wsite-logo'><a href='index.html'><span
                        id="wsite-title" style="  color: white;  font-weight: bold; font-size: 50px;">U24</span></a></span></td>
            </tr>
        </table>
    </div>
    <!-- end container -->
</div>
<!-- end header-wrap -->


     
     {% block navigation %}
      <div style="witdh : 100% ; background: #fff; padding-top: 25px;">
<div class="container">                 
<div class="bar_nav_main">
 
                        <div class="option_level1" ><a href="{{ path('accueil') }}" class="{% block accueil %} {% endblock %} ">Accueil</a></div>
						<span class="separateur">/</span>
                        <div class="option_level1"   >
                            <a class="{% block g_clients %} {% endblock %} " href="{{ path('clients_index') }}">Gestion des Clients</a>

                                    <div class="dropDownList">
                                        <a href="{{ path('new_client') }}">Créer un client</a>
                                    </div>
                            
                        </div>
						<span class="separateur">/</span>
                        <div class="option_level1"  >
                            <a href="{{ path('comptes_index') }}" class="{% block g_comptes %} {% endblock %} ">Gestion des Comptes</a>

                            <div class="dropDownList">
                                    <div>
                                        <a href="{{ path('new_compte') }}">Créer un Compte</a>
                                    </div>
                            </div>
                        </div>
						<span class="separateur">/</span>
                        <div class="option_level1"  >
                            <a class="{% block g_credits %} {% endblock %} " href="{{ path('credits_index') }}">Gestion des Crédits</a>
                            <div class="dropDownList">
                                    <div>
                                        <a href="{{ path('new_credit') }}">Créer un Cédit</a>
                                    </div>
                            </div>
                        </div>
                    </div>
</div>
</div>

{% endblock %}


<div id="main-wrap">
    <div class="container">
        <div id='wsite-content' class='wsite-elements wsite-not-footer'>

        {% block content %}
    
        
     {% endblock %}   
        
</div>
        
    </div>
    <!-- end container -->
</div>
<!-- end main-wrap -->

<div id="footer-wrap" style="height: 100px; position: relative ;  bottom: 0px;">
    <div class="container">
        Projet Finance Système d'information Bancaire 2014-2015
    </div>
    <!-- end container -->
</div>
<!-- end footer-wrap -->
{% block javascript %}
<script src='{{ asset('bundles/financebackoffice/js/jquery-1.9.1.js') }}'></script>
<script src='{{ asset('bundles/financebackoffice/jqueryui/jquery-ui.js') }}'></script>
<script src='{{ asset('bundles/financebackoffice/js/scripts.js') }}'></script>
<script>
    $('.show_button').click(function()
            {
showWithScaleEffect('.details_box');
            }
    );
</script>
{% endblock %}
</body>
</html>
