{% extends "::base.html.twig" %}

{% block g_comptes %}

active

{% endblock %}

{% block content %}
<h1>Liste des Comptes</h1>

<br>
<!-- Debut Filtrage -->
<div class="filtrage">
<h3>Critères</h3>
{% if paginator.criteres['num_compte'] is defined %} {% set num_compte = paginator.criteres['num_compte'] %} {% else %} {% set num_compte  = '' %} {% endif %} 
{% if paginator.criteres['solde_min'] is defined %} {% set solde_min = paginator.criteres['solde_min'] %} {% else %} {% set solde_min  = '' %} {% endif %} 
{% if paginator.criteres['solde_max'] is defined %} {% set solde_max = paginator.criteres['solde_max'] %} {% else %} {% set solde_max  = '' %} {% endif %} 

<form method="POST">
<table>
<tr>
<td>
Num Compte<br>
<input name="num_compte" value="{{ num_compte }}" type="text" placeholder="N° Compte">
</td>
<td>
Type<br>
<select id="type" name="type">
<option >Choisissez le type</option>
<option value="epargne">Epargne</option>
<option value="courant">Courant</option>
</select>
</td>
</tr>

<tr>
<td>
Solde Min<br>
<input name="solde_min" value="{{ solde_min }}" type="text" >
</td>
<td>
Solde Max<br>
<input name="solde_max" value="{{ solde_max }}" type="text" >
</td>
<td>
<input type="submit" value="Filtrer">
</td>
</tr>

</table>
</form>
</div>
<!-- Fin Filtrage -->



<div class="CSSTable">
<table>
<tr>
<td>Num Compte</td>
<td>Type</td>
<td>Titulaire</td>
<td>Solde (Dt)</td>
<td>Liste des Crédits</td>
<td width="150px">Actions</td>
</tr>
{% for compte in comptes %}
<tr>
<td>{{ compte.numCompte }}</td>
<td>{% if compte.type == 'CC' %}Compte Courant {% elseif compte.type == 'CE' %}Compte Epargne{% endif %}</td>
<td>
<ul>
{% for titulaire in compte.proprietaires %}
<li>
{{ titulaire.nomPrenomOuRSocial|title }} 
</li>
{% endfor %}
</ul>
</td>
<td>{{ compte.solde }}</td>
<td>
{% for cr in compte.credits %}
{{ cr.id }}#{{ cr.montant }}#{{ cr.dateDerniereEcheance|date('d/m/Y') }}<br>
{% endfor %}
</td>
<td width="70px">
<div onClick="getDetails('{{ path("details_compte" , {'id' : compte.id}  ) }}')" class="show_button"></div>
<div class="edit_button"></div>
<a href="{{ path('debiterCrediter', { 'action' : 'debit' , 'numCompte' : compte.numCompte }) }}"><div class="debit_button"></div></a>
<a href="{{ path('debiterCrediter', { 'action' : 'credit' , 'numCompte' : compte.numCompte }) }}"><div class="credit_button"></div></a>
</td>
</tr>
{% endfor %}
</table>
</div>

<!-- Details Box -->
        <div class="details_box">
            <div >
                <div class="close_details_box_button clickable"></div>
                <div class="loadingZone" style="position: relative;top: 100px;left: 50%;">
                <img src="{{ asset('bundles/financebackoffice/images/loading.gif') }}" >
                </div>
                <div class="details">                  
                
                </div>
             </div>
        </div>
<!-- End Details Box -->  

{% include '::paginator.html.twig' with { 'nbrePages' :paginator.nbrePage , 'currentPage' : paginator.page  ,'baseUrl' : path('comptes_index') } %}
  

{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
{% if paginator.criteres['type'] is defined  %} 
$('#type option[value={{ paginator.criteres['type'] }}]').attr('selected','true');
{% endif %} 


</script>
{% endblock %}