{% extends "FinanceBackOfficeBundle:Clients:index.html.twig" %}


{% block content %}
<h1>Modification d'un client</h1>
<br><br>
<fieldset style="width : 400px ;">
{% include "::erreurs.html.twig" with { 'erreurs' : erreurs } %}
{{ form_start(form, { 'method' : 'POST' , 'action' : path('edit_client_physique', { id : id })  }  ) }}
<table  >
<tr><td width="50%">NCIN/N°Passeport<span class="form-required">*</span></td><td>{{ form_widget(form.ncin, {'attr' : { 'placeholder' : 'NCIN' } }) }}<br>
{{ form_widget(form.nPasseport , {'attr' : { 'placeholder' : 'N° Passeport' } }) }}		</td></tr>
<tr><td>Nom<span class="form-required">*</span></td><td>{{ form_widget(form.nom) }}</td></tr>
<tr><td>Prénom<span class="form-required">*</span></td><td>{{ form_widget(form.prenom) }}</td></tr>
<tr><td>Date de Naissance<span class="form-required">*</span></td><td>{{ form_widget(form.dateNaissance) }}</td></tr>
<tr><td>Fonction</td><td>{{ form_widget(form.fonction) }}</td></tr>
<tr><td>Etablissement</td><td>{{ form_widget(form.etablissement) }}</td></tr>
<tr><td>Nationnalité<span class="form-required">*</span></td><td>{{ form_widget(form.nationnalite) }}</td></tr>
<tr><td>Adresse<span class="form-required">*</span></td><td>{{ form_widget(form.adresse) }}</td></tr>
<tr><td>Ville<span class="form-required">*</span></td><td>{{ form_widget(form.ville) }}</td></tr>
<tr><td>Code Postal<span class="form-required">*</span></td><td>{{ form_widget(form.codePostal) }}</td></tr>
<tr><td>Tél<span class="form-required">*</span></td><td>{{ form_widget(form.tel) }}</td></tr>
</table>
<input type="hidden" name="natureClient" value="physique">
<input type="submit" value="Enregistrer" style="float : right ;">
{{ form_end(form) }}
</fieldset>
{% endblock %}