{{ form_start(form, { 'method' : 'POST' , 'action' : path('new_client_2')  }  ) }}

<table  >
<tr><td width="50%">Identifiant<span class="form-required">*</span></td><td>{{ form_widget(form.idSoc) }}</td></tr>
<tr><td>Raison Sociale<span class="form-required">*</span></td><td>{{ form_widget(form.raisonSocial) }}</td></tr>
<tr><td>Adresse<span class="form-required">*</span></td><td>{{ form_widget(form.adresse) }}</td></tr>
<tr><td>Ville<span class="form-required">*</span></td><td>{{ form_widget(form.ville,{'attr' : { 'class' : 'villes'} }) }}</td></tr>
<tr><td>Code Postal<span class="form-required">*</span></td><td>{{ form_widget(form.codePostal) }}</td></tr>
<tr><td>Tél<span class="form-required">*</span></td><td>{{ form_widget(form.tel) }}</td></tr>
</table>
<input type="hidden" name="natureClient" value="moral">
<input type="submit" value="Suivant">
{{ form_end(form) }}
