{% extends "::base.html.twig" %}


{% block g_clients %}

active

{% endblock %}




{% block content %}
<h1>Liste des Clients</h1>
<br>
<!-- Début Filtrage -->
<div class="filtrage" >
<h3>Critères</h3>
{% set ncin = '' %}
{% set nom = '' %}
{% set prenom = '' %}
{% set num_compte = '' %}
{% set raison_social = '' %}
{% if paginator.criteres['ncin_client'] is defined %} {% set ncin = paginator.criteres['ncin_client'] %} {% endif %} 
{% if paginator.criteres['prenom_client'] is defined %} {% set prenom = paginator.criteres['prenom_client'] %} {% endif %}
{% if paginator.criteres['nom_client'] is defined %} {% set nom = paginator.criteres['nom_client'] %} {% endif %}
{% if paginator.criteres['raison_social'] is defined %} {% set raison_social = paginator.criteres['raison_social'] %} {% endif %}
{% if paginator.criteres['id_compte'] is defined %} {% set num_compte = paginator.criteres['id_compte'] %} {% endif %}
<form method="POST">
    <table>
        <tr>
            <td>
                <select name="nature_client" id="nature_client">
                    <option>Nature Client</option>
                    <option  value="client_physique">Client Physique</option>
                    <option  value="client_moral">Client Moral</option>
                </select>
            </td>
            <td>
                Ville<br>
                <select id="villes" name="ville"></select>
            </td>
            <td class="client_physique_criteres">
                NCIN<br>
                <input name="ncin_client" value="{{ ncin }}" type="text" placeholder="Ncin Client">
            </td>
        </tr>
        <tr>
            <td>
                N° Compte<br>
                <input type="text" value="{{ num_compte }}" placeholder="Id Compte" name="id_compte">
            </td>
            <td class="client_physique_criteres">
                Nom Prénom<br>
                <input name="nom_client" value="{{ nom }}" type="text" placeholder="Nom">
                <input name="prenom_client" value="{{ prenom }}" type="text" placeholder="Prénom">
            </td>
            <td class="client_moral_criteres">
                Raison Social <br>
                <input name="raison_social" value="{{ raison_social }}" type="text" placeholder="Raison social">
            </td>
            <td>
                <input type="submit" value="Filtrer">
            </td>
        </tr>

    </table>
</form>
</div>
<!--  Fin Filtrage  -->


<div class="CSSTable">
<table>
<tr>
<td>Id Client</td>
<td>Nom/R.Social</td>
<td>Adresse</td>
<td>Tél</td>
<td>Comptes</td>
<td width="70px">Actions</td>
</tr>
{% for client in clients %}
<tr>
<td>{{  client.realIdClient}}</td>
<td>{{client.nomPrenomOuRSocial}}</td>
<td>{{client.adresse}}</td>
<td>{{client.tel}}</td>
<td>
<ul>
{% for compte in client.comptes %}
<li class="show_link" onClick="getDetails('{{ path("details_compte" , {'id' : compte.id}  ) }}')">{{ compte.type }} :{{ compte.numCompte }}</li>
{% endfor %}
</ul>
</td>
<td>
<div class="show_button" onClick="getDetails('{{ path("details_client" , {'id' : client.id}  ) }}')"></div>
{% if client.type == 'physique' %}
<div class="edit_button" onClick="goTo('{{ path('edit_client_physique', { id : client.id }) }}');" ></div>
{% else %}
<div class="edit_button" onClick="goTo('{{ path('edit_client_moral', { id : client.id }) }}');" ></div>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
</div>

<!-- Details Box -->
        <div class="details_box">
            <div >
                <div class="close_details_box_button clickable"></div>
                <div class="loadingZone" style="position: relative;top: 100px;left: 50%;">
                <img src="{{ asset('bundles/financebackoffice/images/loading.gif') }}" >
                </div>
                <div class="details">                  
                
                </div>
             </div>
        </div>
<!-- End Details Box -->                

{% include '::paginator.html.twig' with { 'nbrePages' :paginator.nbrePage , 'currentPage' : paginator.page  ,'baseUrl' : path('clients_index') } %}
    

        
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/financebackoffice/js/villes.js') }}"></script>
<script>
$('#villes').append("<option value='' >Choisissez votre ville</option>");
for(var i=0 ; i < villes.length ; i++)
{
$('#villes').append("<option value='"+villes[i]+"'>"+villes[i]+"</option>");
}


{% if paginator.criteres['ville'] is defined %}	

	$("select#villes option[value='{{ paginator.criteres['ville'] }}']").attr('selected','true') ;

{% endif %}

function showClientMoralCriteres()
{
	$('.client_moral_criteres').show();
    $('.client_physique_criteres').hide();
}

function showClientPhysiqueCriteres()
{
	$('.client_moral_criteres').hide();
    $('.client_physique_criteres').show();
}

function hideClientPhysiqueEtMoral()
{
	$('.client_moral_criteres').hide();
    $('.client_physique_criteres').hide();
}

$('#nature_client').on('change',function()
        {
            if ($('#nature_client').val() == 'client_physique' )
            {
            	showClientPhysiqueCriteres() ;
            }else
            {
                if ($('#nature_client').val() == 'client_moral' )
                {
                	showClientMoralCriteres() ;
                }else
                {
                	hideClientPhysiqueEtMoral() ;
                }
            }
        }
);


{% if paginator.criteres['nature_client'] is defined  %} 
$('select#nature_client option[value={{paginator.criteres['nature_client']}}]').attr('selected','true');
	{% if paginator.criteres['nature_client'] == 'client_physique' %}
		showClientPhysiqueCriteres() ;
	{% elseif paginator.criteres['nature_client'] == 'client_moral' %}
		showClientMoralCriteres() ;
	{% endif %}
{% endif %}




</script>
{% endblock %}